body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
}

/* desktop view */
@media (min-width: 992px) {
    .col-lg-4, .col-lg-6 ,.col-lg-12 {
      float: left;
      background-color: grey;
      border: 1px solid black;
      padding: 0 15px 0 15px;
      position: relative;

    }
    .col-lg-4 {
      width: 33.33%;
  }
}
  
/* tablet view */
@media (min-width: 991px) and (max-width: 768px) {
    .col-md-4, .col-md-6 ,.col-md-12 {
        float: left;
        background-color: grey;
        border: 1px solid black;
        padding: 0 15px 0 0;


      }
      .col-md-6 {
        width: 50%;
      }
  }

/* mobile view */
@media (max-width: 767px) {
    .col-sm-4, .col-sm-6 ,.col-sm-12 {
        float: left;
        background-color: grey;
        border: 1px solid black;
        padding: 0 15px 0 15px;


      }
      .col-sm-12 {
        width: 100%;
      }
  }


.title {
    font-family: 'EB Garamond', serif;
    font-size: 175%;
    font-weight: bold;
    text-align: center;
    position: relative;
}

#chicken, #beef, #sushi {
    position: absolute;
    right: 0;
    width: 100px;
    font-family: 'EB Garamond', serif;
    font-size: 125%;
    font-weight: 600;
    text-align: center;
}

#chicken {
    background-color: pink;
}

#beef {
    background-color: brown;
    color: whitesmoke
}

#sushi {
    background-color: burlywood;
}

p {
    clear: both;
}